{% extends 'base.html' %}

{% block title %}

    User delete

{% endblock %}


{% block content_title %}

    User delete:

{% endblock %}

{% block content %}

        <div class="col-md-5">
            <form action="/api/{{ url_for('delete_user', id=user.telegram_id) }}" method="POST">
                <p><font size="2">Telegram id: </font> {{ user.telegram_id }}</p>
                <p><font size="2">Telegram username: </font>{{ user.username }}</p>
                <p><font size="2">Firstname: </font>{{ user.first_name }}</p>
                <p><font size="2">Phonenumber: </font>{{ user.phone_number }}</p>
                <p><font size="2">Email: </font>{{ user.email }}</p>
                <p><font size="2">City: </font>{{ user.user_city }}</p>
                <p><font size="2">Is user bloked: </font>
                    {% if user.is_blocked %} Yes {% else %} No {% endif %}</p>
                <br>
                <button position="absolute" type="submit" class="btn btn-outline-success">Delete user</button>
                <a class="btn btn-outline-danger" aria-current="page" href="/api/{{ url_for('user_detail', id=user.telegram_id) }}">Cancel</a>
            </form>
        </div>

{% endblock %}